{{#each results}}
<h3>{{title}}</h3>
<em>{{authors}}</em> <br>
<h6>{{pages}} Pages</h6>
<h6>Rating: {{rating}}</h6>
<h6>No. of ratings: {{rating_count}}</h6> 
<h6>Genres: {{genres}}</h6>
<a href=""><h4>FIND REVIEW</h4></a> <br>
<img src="{{this.image_url}}"
{{/each}}

